body {
    background-image:url("bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    padding: 7%;
}

main {
    display: flex;
    justify-content: center;
    height: 400px;
}

.introducao {
    color: hsl(0, 100%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introducao h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 20%;
}

.introducao p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

header {
    background-color: hsl(248, 32%, 49%);
    height: 30px;
    border-radius: 5px;
    padding-top: 2%;
    text-align: center;
    color:hsl(0, 100%, 100%);
    font-size: 0.8em;
}

form {
    margin-left: 4%;
    width: 35%;
    font-family: 'Poppins', sans-serif;
}

form p {
    font-size: 0.6em;
    text-align: center;
    color: hsl(246, 25%, 77%);
}

span {
    color: hsl(0, 100%, 74%);
}

.form{
    background-color: hsl(0, 100%, 100%);
    margin-top: 15px;
    height: 80%;
    border-radius: 5px;

}
input{
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 3%;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
}

button {
    width: 82%;
    height: 11%;
    margin-left: 9%;
    margin-top: 10%;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    color: hsl(0, 100%, 100%);
    text-align: center;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.attribution { 
    font-size: 11px; 
    text-align: center;

}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}